:root {
    --cor-primaria:#22D4FD;
    --cor-secundaria:#F6F6F6;
    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}


body {
    background-color: #000000;
}

.a__h1 {
    text-decoration: none;
    color: var(--cor-primaria);
}

a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

a:hover {
    color: #ecacac;
}

.titulo {
    color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
    font-size: 23px;
    font-family: var(--font-primaria);
}

.texto {
  display: flex;
  justify-content: center;
  padding: 4em 5em 0 3em;
}

.titulo__texto {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 36px;
    text-align: center;
    padding-top: 2em;
}

.frase {
    color: var(--cor-secundaria);
    font-size: 24px;
    font-family: var(--font-primaria);
    margin: 2em 7em;
}

.img__vini {
    width: 255px;
    height: 570px;
    padding-bottom: 4em;
}

.rodape__descricao {
    background-color: var(--cor-primaria);
    color: #000000;
    text-align: center;
    padding: 0.8em;
    
}



